<div layout="row" layout-align="center center" class="container">
    <md-card flex="40">
        <header>
            <div class="logo">
                <img src="https://s3.ap-northeast-2.amazonaws.com/pixelstairs/assets/logo/vp_w.png" alt="logo">
            </div>
        </header>
        <md-card-content>
            <form name="signin" ng-submit="SigninCtrl.postData()">
                <md-input-container class="full-width">
                    <md-icon><i class="xi-at"></i></md-icon>
                    <label>E-mail</label>
                    <input
                        required
                        type="email"
                        name="email"
                        ng-model="SigninCtrl.formData.email"
                    >
                    <div ng-messages="signin.email.$error">
                        <div ng-message="required">이메일을 입력해주세요!</div>
                    </div>
                </md-input-container>
                <md-input-container class="full-width">
                    <md-icon><i class="xi-key"></i></md-icon>
                    <label>Password</label>
                    <input
                        required
                        type="password"
                        name="password"
                        ng-model="SigninCtrl.formData.password"
                    >
                    <div ng-messages="signin.password.$error">
                        <div ng-message="required">비밀번호를 입력해주세요!</div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="full-width">
                    <span ng-show="!SigninCtrl.isBusy">Let's Workout!</span>
                    <span ng-show="SigninCtrl.isBusy"><i class="xi-spin xi-spinner-4"></i></span>
                </md-button>
            </form>
        </md-card-content>
        <p class="hint">
            Admin Center는 Google Chrome 55+ 브라우저에 최적화되어있습니다.
        </p>
    </md-card>
</div>
