.badge {
    color: $white;
    border-radius: 4px;
    padding: 3px 12px;
    box-shadow: 0 3px 0 #000;
    &.good {
        background-color: $mint;
        box-shadow: 0 3px 0 darken($mint, 8%);
    }
    &.warning {
        background-color: $amber;
        box-shadow: 0 3px 0 darken($amber, 8%);
    }
    &.error {
        background-color: $red;
        box-shadow: 0 3px 0 darken($red, 8%);
    }
}
