.aside-main-menu {
    position: fixed;
    background-color: $mine-black;
    height: 100%;
    overflow-y: scroll;

    .aside-header {
        height: 100px;
        background-color: $mint;
        * {
            color: $white;
        }

        .user-basic-info {
            .user-profile {
                @include circleFrame(35px);
                margin-right: 15px;
            }
        }

        .user-status {

        }
    }

    ul {
        position: relative;
        top: 0;
        left: 0;
        width: $aside-width;
        height: 100%;

        li {
            .md-button {
                width: 100%;
                margin: 0;
                padding: 10px 22px;
                text-align: left;
                text-transform: none;
                box-shadow: none;
                transition: all 0.3s ease-out;
                color: $grey;

                &>a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: transparent;
                    color: $light-grey;
                }
                &:focus {
                    background-color: transparent;
                }

                &.selected, &.open {
                    color: $white;
                    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                }

                * {
                    vertical-align: middle;
                }

                i {
                    margin-top: -3px;
                    margin-right: 17px;
                    font-size: 25px;
                }
                span {
                    font-size: 14px;
                }
                i.open-icon {
                    position: absolute;
                    font-size: 14px;
                    top: 50%;
                    right: 30px;
                    margin: 0;
                    transform: translateY(-50%) rotateZ(0);
                    transition: transform 0.2s ease-out;
                }

                &.opened {
                    i.open-icon {
                        transform: translateY(-50%) rotateZ(45deg);
                    }
                }
                &.closed {
                    &+.sub-menu {
                        height: 0 !important;
                    }
                }
            }

            ul.sub-menu {
                background-color: darken($mine-black, 5%);
                overflow-y: hidden;
                transition: all 0.2s ease-out;
                .sub-menu-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
                li {
                    position: relative;
                    a {
                        padding: 0 0 0 68px;
                    }
                    * {
                        font-size: 12px;
                    }
                    &.selected {
                        border-left: 2px solid $mint;
                        * {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
