mdt-table {
    table {
        thead {

        }
        tbody {
            .user-profile-cell {
                @include circleFrame(30px);
            }

            .cell-btn {
                position: relative;
                display: inline-block;
                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $silver-grey;
                    content: '';
                }
            }
        }
    }
}
