.md-dialog-is-showing {
    overflow: hidden;
}

// MODAL
md-dialog {
    md-toolbar {
        .md-toolbar-tools {
            background-color: $mint;
            * {
                color: $white;
            }
        }
    }
}
