.user-info-modal {
    md-dialog-content {
        .user-img-wrapper {
            width: 80px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
