.user-info-modal {
    md-switch {
        .blacklist-symbol {
            font-weight: bold;
        }
    }
    md-dialog-content {
        .user-img-wrapper {
            width: 80px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
