md-toolbar.global-header {
    padding: 0 20px;

    position: fixed;
    top: 0;
    left: 0;
    min-height: $global-header-height;
    z-index: 20;
    background-color: $mine-black;
    color: $white;

    box-shadow: none;

    .global-logo-section {
        .global-logo {
            width: 28px;
            img {
                width: 100%;
            }
        }
    }

    .link-icon-section {

    }

    .user-section {
        .user-info-wrap {
            .md-button.md-fab {
                background-color: $mint;
                padding: 0;
                img {
                    width: 100%;
                }
            }
        }
    }
}
