<md-dialog class="content-info-modal" flex="80">
    <md-toolbar flex-order="1">
        <div class="md-toolbar-tools" flex>
            <h2>아트워크 정보</h2>
            <span flex></span>

            <md-button
                class="md-icon-button"
                ng-click="ContentInfoModal.deleteData()"
                ng-if="!ContentInfoModal.isDeletedContent"
            >
                <md-icon><i class="xi-trash"></i></md-icon>
                <md-tooltip md-direction="bottom">삭제하기</md-tooltip>
            </md-button>
            <md-button
                class="md-icon-button"
                ng-click="ContentInfoModal.isModifyEnable = true"
            >
                <md-icon><i class="xi-pen"></i></md-icon>
                <md-tooltip md-direction="bottom">수정하기</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="ContentInfoModal.close()">
                <md-icon><i class="xi-close"></i></md-icon>
                <md-tooltip md-direction="bottom">닫기</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex-order="2">
        <div
            ng-show="ContentInfoModal.data && ContentInfoModal.isDeletedContent"
            class="deleted-content-alert"
        >
            <i class="xi-ban"></i>
            <span>해당 컨텐츠는 삭제된 컨텐츠입니다.</span>
        </div>
        <form
            name="ContentInfoModal.form"
            ng-init="ContentInfoModal.form = ContentInfoModal.form"
        >
            <div class="layout-padding" layout="column">
                <div layout="row">
                    <div class="content-img-wrapper" flex="30">
                        <img
                            ng-src="{{ContentInfoModal.contentImage}}"
                            alt="{{'content-image-' + ContentInfoModal.data.id}}"
                        >
                    </div>
                    <div layout="column" class="fieldset" flex>
                        <!-- ARTWORK DATA START -->
                        <legend>아트워크 데이터</legend>
                        <div layout="row">
                            <md-input-container flex class="without-error">
                                <label>생성일</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.createdAt">
                            </md-input-container>
                            <md-input-container flex class="without-error">
                                <label>최근 업데이트일</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.updatedAt">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex class="without-error">
                                <label>아트워크ID</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.id">
                            </md-input-container>
                            <md-input-container flex class="without-error">
                                <label>제목</label>
                                <input
                                    ng-disabled="!ContentInfoModal.isModifyEnable"
                                    type="text"
                                    ng-model="ContentInfoModal.data.title"
                                >
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex class="without-error md-input-has-value">
                                <label>태그</label>
                                <md-chips
                                    ng-model="ContentInfoModal.data.hashTags"
                                    readonly="!ContentInfoModal.isModifyEnable"
                                    md-enable-chip-edit="true"
                                >
                                </md-chips>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex class="without-error">
                                <label>설명</label>
                                <textarea
                                    ng-disabled="!ContentInfoModal.isModifyEnable"
                                    ng-model="ContentInfoModal.data.description"
                                    class="no-resize">
                                </textarea>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex class="without-error">
                                <label>좋아요 수</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.counts.like">
                            </md-input-container>
                            <md-input-container flex class="without-error">
                                <label>조회 수</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.counts.view">
                            </md-input-container>
                        </div>
                        <!-- ARTWORK DATA END -->

                        <!-- CREATOR DATA START -->
                        <legend>크리에이터 데이터</legend>
                        <div layout="row">
                            <md-input-container flex class="without-error">
                                <label>유저ID</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.user.id">
                            </md-input-container>
                            <md-input-container flex class="without-error">
                                <label>유저이름</label>
                                <input readonly disabled type="text" ng-model="ContentInfoModal.data.user.nickname">
                            </md-input-container>
                        </div>
                        <!-- CREATOR DATA END -->
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-action flex-order="3">
        <div layout="row">
            <md-button
                ng-if="ContentInfoModal.isModifyEnable"
                ng-click="ContentInfoModal.putData()"
                flex
            >
                변경사항저장
            </md-button>
            <md-button
                ng-click="ContentInfoModal.close()"
                flex
            >
                닫기
            </md-button>
        </div>
    </md-dialog-action>
</md-dialog>
