<md-dialog class="user-info-modal" flex="60">
    <md-toolbar flex-order="1">
        <div class="md-toolbar-tools" flex>
            <h2>유저 정보</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="UsrInfoModal.close()">
                <md-icon><i class="xi-close"></i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex-order="2">
        <form
            name="UsrInfoModal.form"
            ng-init="UsrInfoModal.form = UsrInfoModal.form"
        >
            <div class="layout-padding" layout="column">
                <div layout="column" class="fieldset" flex>
                    <legend>유저 데이터</legend>
                    <div layout="column" layout-align="center center">
                        <div class="user-img-wrapper">
                            <img
                                ng-src="{{UsrInfoModal.userProfile}}"
                                alt="{{'user-profile-image-' + UsrInfoModal.data.id}}"
                            >
                        </div>
                    </div>
                    <div class="divide30"></div>
                    <div layout="row">
                        <md-input-container flex class="without-error">
                            <label>최근 로그인 시간</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.lastLoginTime">
                        </md-input-container>
                        <md-input-container flex class="without-error">
                            <label>회원가입한 날</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.createdAt.date">
                        </md-input-container>
                        <md-input-container flex class="without-error">
                            <label>최근 정보 업데이트일</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.updatedAt.date">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex class="without-error">
                            <label>유저ID</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.id">
                        </md-input-container>
                        <md-input-container flex class="without-error">
                            <label>이름</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.nickname">
                        </md-input-container>
                        <md-input-container flex class="without-error">
                            <label>이메일</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.email">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex class="without-error">
                            <label>현재 상태</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.status">
                        </md-input-container>
                        <md-input-container flex class="without-error">
                            <label>회원 등급</label>
                            <input readonly type="text" ng-model="UsrInfoModal.data.grade">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-action flex-order="3">
        <div layout="row">
            <md-button ng-click="UsrInfoModal.close()" flex>
                닫기
            </md-button>
        </div>
    </md-dialog-action>
</md-dialog>
