[ui-view='header'] {

}

#container {
    min-height: 100vh;
    background: $light-grey;

    div[ui-view="aside"] {
        width: $aside-width;
        min-height: 100%;
    }
    div[ui-view="content"] {
        min-height: 100%;
    }

    &.with-header {
        padding-top: $global-header-height;
        min-height: calc(100vh - #{$global-header-height});

        div[ui-view="aside"] {
            position: relative;
            min-height: calc(100vh - #{$global-header-height});
        }
        div[ui-view="content"] {
            min-height: calc(100vh - #{$global-header-height});
            position: relative;
        }
    }
}

[ui-view='footer'] {

}
